<div class="container">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home">Home</a>
  </li>

  <li class="nav-item">
        <a class="nav-link" href="/nevropatolgVrach">Vrach Neyropatolg</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/ortapedQabul">Ortaped Vrach</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="/pediatorVrach">Pediator Vrach</a>
  </li>
</ul>

</div>