<div class="container text-center">
  <div class="row">

    <form method="post" action="nevropatolg">
    <div class="col-3 p-3 mb-2">
      <a href="/nevropatolg" class="nav-link">
      
      <div class="card bg-body-tertiary" style="width: 18rem;">
        <p class="mt-2 fs-5">Ilyos Samadov</p>
        <hr>
  <div class="card-body">
    <h3 class="card-title">Nevropatolg</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </a>
    </div>
  </form>

    <div class="col-3 p-3 mb-2">
         <a href="/Ortaped" class="nav-link">
      
      <div class="card bg-body-tertiary" style="width: 18rem;">
        <p class="mt-2 fs-5">Ahmad Boltaev</p>
        <hr>
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h3 class="card-title">Ortaped</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </a>
    </div>

    <div class="col-3 p-3 mb-2">
      <a href="/Pediator" class="nav-link">
      
      <div class="card bg-body-tertiary" style="width: 18rem;">
        <p class="mt-2 fs-5">Oybek Hamroqulov</p>
        <hr>
  <div class="card-body">
    <h3 class="card-title">Pediator</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </a>
    </div>

    <div class="col-3 p-3 mb-2">
    <a href="/Uzey" class="nav-link">
      
      <div class="card bg-body-tertiary" style="width: 18rem;">
        <p class="mt-2 fs-5">Baxtiyor Raxmatov</p>
        <hr>
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h3 class="card-title">Uzey</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 p-3">
      <h1>Haay Jeci<h1>
    </div>
  </div>
</div>    