<form method="post">
<div class="container">
    <div class="row">
    
        {{!-- <div class="form-row"> --}}
             <div class="col-6">
                <label for="inputEmail4">Bemorning Ismi:</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Bemorning Ismi">
             {{!-- </div> --}}
        </div>

        <div class="col-md-6">
      <label for="inputPassword4">Familya</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Familya">
    </div>
  </div>


    
   <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    
    </div>
</div>
</form>

